<nav>
    <button class="burger-menu" aria-label="Open Menu">
        <img src="assets/burger.svg" alt="Menu" height="17">
    </button>
    <a href="/" class="logo">
        <img src="assets/Logo_nav_white.svg" alt="Radar Hub Logo">
    </a>
    <ul class="nav-menu">
        <li><a href="hub.html">vores hub</a></li>
        <li><a href="support.html">støtte os</a></li>
        <li><a href="about.html">om os</a></li>
        <li><a href="contact.html">kontakt</a></li>
    </ul>
    <a href="#" class="profile-icon"><img src="assets/profile_w.svg" alt="Profile"></a>
</nav> 