:root {
   /* Colors */
    --white: #FFFFFF;
    --light-gray: #D9D9D9;
    --hover-grey: #505050;
    --medium-dark: #303030;
    --dark: #191919;
    --accent-default: #BFFF00;
    --accent-dark: #94C600;
    --header-color: hsla(0, 0%, 0%, 0.4);

    /* Typography Scale */
  --h1: clamp(1.75rem, calc(1.54rem + 0.95vw), 2.25rem);   /* 28px - 36px */
  --h2: clamp(1.5rem, calc(1.29rem + 0.95vw), 2rem);       /* 24px - 32px */
  --h3: clamp(1.25rem, calc(1.14rem + 0.48vw), 1.5rem);    /* 20px - 24px */
  --h4: clamp(1rem, calc(0.89rem + 0.48vw), 1.25rem);      /* 16px - 20px */
  --body: clamp(0.875rem, calc(0.82rem + 0.24vw), 1rem);   /* 14px - 16px */



    /* Font Weights */   
    --font-weight-semi-light: 400;  /* Semi light */
    --font-weight-regular: 500;  /* Regular */
    --font-weight-bold: 700;     /* Bold */

    /* Font Families */
    font-family: "cy", sans-serif, Arial, Helvetica;
}
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
}
body {
  font-variant-ligatures: none; /* Disables all ligatures */
  margin: 0;
  padding: 0;
  font-weight: var(--font-weight-regular);
  color: var(--white);
  background-color: var(--dark);   
  overflow-x: hidden; 
  font-size: var(--body);
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.2;
  font-weight: var(--font-weight-bold);
  color: var(--white);
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

p {
    line-height: 1.5;
    font-weight: var(--font-weight-regular);
    color: var(--white);
    font-size: var(--body);
}

a {
    text-decoration: none;
  }

img {
  display: block;
  max-width: 100%;
  height: auto;
}
