:root {
   /* Colors */
    --white: #FFFFFF;
    --light-gray: #D9D9D9;
    --hover-grey: #505050;
    --medium-dark: #303030;
    --dark: #191919;
    --accent-default: #BFFF00;
    --accent-dark: #94C600;
    --header-color: hsla(0, 0%, 0%, 0.4);

    /* Typography Scale */
    --body: 14px;      /* Base size */
    --h4: 20px;        /* Small heading */
    --h3: 24px;        /* Medium heading */
    --h2: 28px;        /* Large heading */
    --h1: 32px;        /* Extra large heading */

    /* Font Weights */   
    --font-weight-semi-light: 400;  /* Semi light */
    --font-weight-regular: 500;  /* Regular */
    --font-weight-bold: 700;     /* Bold */

    /* Font Families */
    font-family: "cy", sans-serif, Arial, Helvetica;
}
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
}
body {
  font-variant-ligatures: none; /* Disables all ligatures */
  margin: 0;
  padding: 0;
  font-weight: var(--font-weight-regular);
  color: var(--white);
  background-color: var(--dark);   
  overflow-x: hidden; 
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.2;
  font-weight: var(--font-weight-bold);
  color: var(--white);
}

p {
    line-height: 1.5;
    font-weight: var(--font-weight-regular);
    color: var(--white);
}

a {
    text-decoration: none;
  }

img {
  display: block;
  max-width: 100%;
  height: auto;
}
