header {
    position: fixed;  /* or absolute, depending on your needs */
    width: 100%;
    height: auto;
    background-color: var(--header-color);
    padding: .5rem 0;  /* First value (1rem) is top/bottom, second value (3rem) is left/right */
    z-index: 10;  /* This ensures header stays above the background */
    /* Add backdrop filter for modern browsers */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding-left: clamp(2rem, 8vw, 3rem);
    padding-right: clamp(2rem, 8vw, 3rem);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav-menu {
    display: flex;
    flex-direction: row;  
    gap: 2rem;  
    list-style: none;
    padding: 0;
    margin: 0;
    color: var(--white);
    font-size: var(--body);
}

/* Make sure the links also inherit the color */
.nav-menu a {
    color: var(--white);
    text-decoration: none;  /* Optional: removes underline from links */
}

.nav-menu a.active {
    color: var(--accent-default);
}

.nav-menu a:hover {
    color: var(--accent-default);
}
