.we-provide {
    padding-left: clamp(2rem, 8vw, 10rem);
    padding-right: clamp(2rem, 8vw, 10rem);
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
    background-color: var(--accent-default);
}

.we-provide h1,
.we-provide h2,
.we-provide h3,
.we-provide h4,
.we-provide p,
.we-provide li {
    color: var(--medium-dark) 
}

.provide-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 4rem;
    align-items: center;
}

.left-content h1 {
    font-size: var(--h1); 
}

.left-content h3 {
    font-size: var(--h3); 
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.we-provide h1 {
    padding-bottom: 2rem;
    font-size: var(--h1); 
}

.right-content {
    text-align: center;
}

.right-content h4 {
    margin-bottom: 0.5rem;
    font-size: var(--h4);
    font-weight: var(--font-weight-regular);
}

.right-content p {
    font-size: var(--body);
    line-height: 1.6;
}


.bullet-list {
    font-weight: var(--font-weight-regular); 
    padding-bottom: 1rem;
}
