.we-provide {
    padding: clamp(2rem, 8vw, 10rem);
    position: relative;
    background-color: var(--accent-default);
}

.we-provide h1,
.we-provide h2,
.we-provide h3,
.we-provide h4,
.we-provide p,
.we-provide li {
    color: var(--medium-dark) 
}

.provide-grid {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 4rem;
    align-items: start;
    align-items: center;    
}

.left-content h1 {
    font-size: var(--h1);
    margin-bottom: 1rem;
}

left-content h2 {
    font-size: var(--h2);
}

.right-content {
    text-align: center;
}

.right-content h2 {
    margin-bottom: 1rem;
}

.right-content p {
    font-size: var(--body);
    line-height: 1.6;
}

.bullet-list {
    font-weight: var(--font-weight-regular); 
}